@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #FA8B02;
  --secondary: #333333;
  --secondary2: #33333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-secondary2: var(--secondary2);
  --font-sans: var(--font-geist-sans);
  --font-podcast: var(--font-podcast);
}

@layer components {
  .hero {   
    background-image: url(/images/hero/bg.png);
  }
  
  .sub-hero{
    background-image: url(/images/subHero/bg.png);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* globals.css */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-gradient-to-b from-primary to-secondary2;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gradient-to-b from-secondary2 to-gray-800;
}
